.carousel-wrapper {
	position: relative;
}
.plan {
	padding-bottom: 100px;
	position: relative;

	@media screen and (max-width: 1199px){
		padding-bottom: 50px;
	}
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
		transform: translate(0, -50%);
        margin-top: 0;
        width: 19px;
        height: 33px;
        background: url('../images/css_sprites.png') -10px -133px;
        right: -60px;

        @media screen and (max-width: 1439px){
        	right: 10px;
        }
        &:focus {
            outline: none;
        }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
		transform: translate(0, -50%);
        margin-top: 0;
        width: 19px;
        height: 33px;
        background: url('../images/css_sprites.png') -134px -72px;
        left: -60px;

        @media screen and (max-width: 1439px){
        	left: 10px;
        }
        &:focus {
            outline: none;
        }
    }
    &-top {
        display: flex;
        align-items: center;
        padding: 75px 0 90px;
        @media screen and (max-width: 1199px){
        	padding: 40px 0 60px;
        }

        .heading-h2 {
            margin-bottom: 0;
            line-height: 1.2;
        }
    }

    &-info {
        margin-left: 30px;
        padding-left: 26px;
        position: relative;
        flex: 0 0 40%;

        @media screen and (max-width: 1199px){
        	flex: 0 0 50%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 6px;
            background-color: $primary-color;
            color: #656565;
            line-height: 1.2;
        }
    }

    &-description {
        width: 44%;
        padding-left: 80px;

        @media screen and (max-width: 1199px){
        	width: 50%;
        	padding-left: 35px;
        }
    }

    &-heading {
        font-size: 1.5625rem;
        line-height: 1.1;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &-features {
        color: $primary-color;
        text-transform: uppercase;
    }



    &-wrapper {
        display: flex;
    }

    &-carousel {
        width: 56%;

        @media screen and (max-width: 1199px){
        	width: 50%;
        }

        .slick-track {
            display: flex;
            justify-content: space-between;
        }
        .slider-for {
            margin-bottom: 20px;
        }
        .slider-nav {
            .slick-slide {
                float: none;

                img {
                    width: 100%;
                }

                &.slick-active:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
        }
    }

    &-pagination {
    	display: flex;
    	justify-content: space-between;
    	width: 46%;
    	margin: 0 auto;
    	margin-bottom: 115px;
    	list-style-type: none;

    	@media screen and (max-width: 1199px){
    		margin-bottom: 60px;
    	}
    	li {
    		position: relative;
    		width: 90px;
    		height: 90px;
    		border: 3px solid #c4c4c4;
    		cursor: pointer;

            @media screen and (max-width: 991px){
                width: 70px;
                height: 70px;
            }

    		&:not(:last-child) {

    		}

    		&:after {
				content: '';
				width: 70px;
				height: 70px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border: 1px solid #c4c4c4;
				z-index: 1;

                @media screen and (max-width: 991px){
                    width: 50px;
                    height: 50px;
                }
    		}

    		span {
    			position: absolute;
    			left: -15px;
    			top: 50%;
    			transform: translate(0, -50%);
    			font-weight: bold;
    			font-size: 2rem;
    			line-height: 1;
    			color: #c4c4c4;
    			background-color: #fff;
    			padding: 10px;
    			z-index: 2;

                @media screen and (max-width: 991px){
                    font-size: 1.8rem;
                }
    		}

    		sup {
    			top: -6px;
    		}

    		&.active {
    			cursor: default;
    			border: 3px solid $primary-color;
    			span {
    				color: $primary-color;
    			}

    			&:after {
					border: 1px solid $primary-color;
    			}
    		}
    	}
    }
}

.features-wrapper {
    margin-bottom: 30px;

    p {
        margin: 0;
        color: #656565;
    }

    &__flex {
        display: flex;
        margin-bottom: 0;
    }
}

.features-bottom {
    color: #202020;
    padding-right: 30px;

    p {
        margin-bottom: 20px;
        margin-top: 0;
    }
}